body {
	font-family:consolas;
	font-size:12px;
}
canvas {
	border:1px solid black;
}
#testbody, #teststats {
	display:flex;
	align-items: flex-start;
}
#teststats {
	width:1200px;
	flex-wrap:wrap;
}

.slider-holder, .clothes-holder {
	display:flex;
	width:380px;
	padding: 5px;
	border-bottom:1px solid black;
}
.sliders-header {
	text-align:center;
	width:100%;
}
.slider {
	width:210px;
}
.origstat {
	width:100px;
}
.curstat {
	padding-left:20px;
}
.curstat:before {
	content:"(";
}
.curstat:after {
	content:")";
}
#createchar, #randomizechar, #toggledrawpoints, .action-button {
	width:100%;
	height:39px;
	border:none;
	color:white;
	background:orange;
	font-family:consolas;
}

.action-button {
	width:390px !important;
}

.wearing {
	color: rgb(200,200,200);
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
@-moz-document url-prefix() {
    .slider {
        overflow:hidden;
    }
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #aaa;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}